<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<body>
<div id="page" layout:fragment="content">
    <main>
        <div class="container">
            <h1 class="tt-title-border d-flex justify-content-between">
                <span>TAG MANAGEMENT</span>
                <span data-bs-toggle="modal" data-bs-target="#createCategoryModal" style="font-size: 30px; cursor: pointer">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </span>

                <div style="overflow: auto" class="modal fade" id="createCategoryModal" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form class="form-default" method="post" th:action="@{/admin/tags}" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">CREATE TAG</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group required mb-3">
                                        <label>Name</label>
                                        <input class="form-control" name="name" required th:value="${createRequest?.name}" >
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-secondary">Create</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </h1>

            <div class="mb-5">
                <form class="filter-form">
                    <div class="form-group">
                        <label for="search"> Search </label>
                        <input type="text" id="search" th:value="${search}" name="search"
                               placeholder="Enter to search"
                               class="form-control">
                    </div>
                    <button class="btn btn-secondary" type="submit">Filter</button>
                </form>
            </div>

            <div class="card p-3">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Updated at</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tag, index: ${tags}">
                            <td th:text="${index.index + 1}"></td>

                            <td style="min-width: 200px">
                                <a th:href="@{'/posts?tag=' + ${tag.name}}">
                                    <span th:text="${tag.name}"></span>
                                </a>
                            </td>

                            <td style="min-width: 200px">
                                <span th:text="${#temporals.format(tag.createdAt)}"></span>
                            </td>
                            <td style="min-width: 200px">
                                <span th:text="${#temporals.format(tag.updatedAt)}"></span>
                            </td>

                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div>
                                        <button class="btn btn-primary ms-2" data-bs-toggle="modal"
                                                th:data-bs-target="'#updateModal'+ ${tag.id}">
                                            Update
                                        </button>
                                        <div style="overflow: auto" class="modal fade"
                                             th:id="'updateModal'+ ${tag.id}" data-bs-backdrop="static"
                                             data-bs-keyboard="false"
                                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form class="form-default" method="post" th:action="@{'/admin/tags/' + ${tag.id} + '/update'}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">UPDATE TAG</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group required mb-3">
                                                                <label>Name</label>
                                                                <input class="form-control" name="name" required th:value="${tag?.name}" >
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-secondary">Update</button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-danger ms-2" data-bs-toggle="modal"
                                                th:data-bs-target="'#deleteModal'+ ${tag.id}">
                                            Delete
                                        </button>
                                        <div style="overflow: auto" class="modal fade"
                                             th:id="'deleteModal'+ ${tag.id}" data-bs-backdrop="static"
                                             data-bs-keyboard="false"
                                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form class="form-default" method="post"
                                                          th:action="@{'/admin/tags/' + ${tag.id} + '/delete'}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">DELETE TAG</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure to delete category '[[${tag.name}]]'?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-danger"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-secondary">Confirm
                                                            </button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:replace="~{fragments/pagination :: pagination}">
                    Pagination
                </div>

                <th:block th:if="${#lists.isEmpty(tags)}">
                    <div th:replace="~{fragments/no-data :: no-data}">No data</div>
                </th:block>
            </div>
        </div>
    </main>
</div>
</body>
</html>