<div th:fragment="header">
    <div>
        <div class="create-post-icon">
            <a th:href="@{/posts/create}">
                <ion-icon name="add-outline"></ion-icon>
            </a>
        </div>
    </div>

    <nav class="panel-menu" id="mobile-menu">
        <ul>

        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">
                Close
                <div class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-cancel"></use>
                    </svg>
                </div>
            </div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>
    <header id="tt-header" xmlns:sec="http://www.w3.org/1999/xhtml">
        <div class="container">
            <div class="row tt-row no-gutters flex-nowrap">
                <div class="col-auto me-2 me-md-5">
                    <!-- toggle mobile menu -->
                    <a class="toggle-mobile-menu" href="#">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-menu_icon"></use>
                        </svg>
                    </a>
                    <!-- /toggle mobile menu -->
                    <!-- logo -->
                    <div class="tt-logo">
                        <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt=""></a>
                    </div>
                    <!-- /logo -->
                    <!-- desctop menu -->
                    <div class="tt-desktop-menu">
                        <nav>
                            <ul>
                                <th:block sec:authorize="isAnonymous()">
                                    <li  th:classappend="${path == '/categories' ? 'active' : ''}">
                                        <a th:href="@{/categories}"><span>Categories</span></a></li>
                                </th:block>
                                <th:block sec:authorize="isAuthenticated()">
                                    <th:block th:if="${session.loggedUser.role.toString() == 'ADMIN'}">

                                        <li th:classappend="${path == '/admin/users' ? 'active' : ''}">
                                            <a th:href="@{/admin/users}"><span>Users</span></a>
                                        </li>
                                        <li th:classappend="${path == '/admin/categories' ? 'active' : ''}">
                                            <a th:href="@{/admin/categories}"><span>Categories</span></a>
                                        </li>
                                        <li th:classappend="${path == '/admin/tags' ? 'active' : ''}">
                                            <a th:href="@{/admin/tags}"><span>Tags</span></a>
                                        </li>

                                        <li th:classappend="${path == '/admin/awards' ? 'active' : ''}">
                                            <a th:href="@{/admin/awards}">
                                                <span>Awards</span>
                                            </a>
                                        </li>

                                        <li  th:classappend="${path == '/posts/my-posts' ? 'active' : ''}">
                                            <a th:href="@{/posts/my-posts}"><span>My post</span></a>
                                        </li>

                                    </th:block>

                                    <th:block th:if="${session.loggedUser.role.toString() == 'MENTOR'}">
                                        <li  th:classappend="${path == '/categories' ? 'active' : ''}">
                                            <a th:href="@{/categories}"><span>Categories</span></a></li>
                                        <li  th:classappend="${path == '/posts/my-posts' ? 'active' : ''}">
                                            <a th:href="@{/posts/my-posts}"><span>My post</span></a></li>
                                        <li  th:classappend="${path == '/mentor/post-requests' ? 'active' : ''}">
                                            <a th:href="@{/mentor/post-requests}"><span>Post request</span></a></li>
                                    </th:block>

                                    <th:block th:if="${session.loggedUser.role.toString() == 'STUDENT'}">
                                        <li  th:classappend="${path == '/categories' ? 'active' : ''}">
                                            <a th:href="@{/categories}"><span>Categories</span></a></li>
                                        <li  th:classappend="${path == '/posts/my-posts' ? 'active' : ''}">
                                            <a th:href="@{/posts/my-posts}"><span>My post</span></a></li>
                                    </th:block>
                                </th:block>

                            </ul>
                        </nav>
                    </div>
                    <!-- /desctop menu -->
                    <!-- tt-search -->
                    <div class="tt-search">
                        <!-- /toggle -->
                        <form th:action="@{/posts}" class="search-wrapper">
                            <div class="search-form">
                                <input name="search" th:value="${search}" type="text" class="tt-search__input"
                                       placeholder="Search">
                                <button class="tt-search__btn" type="submit">
                                    <ion-icon name="search-outline"></ion-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /tt-search -->
                </div>
                <th:block sec:authorize="isAnonymous()">
                    <div class="col-auto ml-auto">
                        <div class="tt-account-btn">
                            <a th:href="@{/auth/login}" class="btn btn-primary">Log in</a>
                            <a th:href="@{/auth/signup}" class="btn btn-secondary">Sign up</a>
                        </div>
                    </div>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <div class="col-auto ml-auto d-flex align-items-center">
                        <div class="d-flex me-2">
                            <a th:href="@{/users/profile}">
                                <img class="img-fluid me-3 user-avatar"
                                     th:src="${#authentication.principal?.user?.avatar != null ? #authentication.principal?.user?.avatar : '/images/person-placeholder.png'}"
                                     style="border-radius: 50%; height: 50px; width: 50px">
                            </a>
                            <div class="d-flex flex-column justify-content-center">
                                <span th:text="${#authentication.principal?.user?.name}"></span>
                                <p class="badge bg-primary mb-0" th:text="${#authentication.principal?.user?.role}"></p>
                            </div>
                        </div>
                        <div class="tt-account-btn">
                            <form th:action="@{/auth/logout}" method="post">
                                <button class="btn btn-outline-danger" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </header>
</div>