<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<body>
<main id="page" layout:fragment="content">
    <div class="container">
        <div class="container">
            <div class="tt-layout-404">
           <span class="tt-icon" style="font-size: 100px">
               <ion-icon name="alert-circle-outline"></ion-icon>
           </span>
                <h6 class="tt-title">ERROR 404</h6>
                <p>Sorry we can’t find what you are looking for, here’s some<br>
                    <a href="index.html" class="tt-color-dark tt-underline-02">suggested topics</a> for you.</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
